<tr>
  <td><%= player_name(pitch.pitcher) %></td>
  <td><%= player_name(pitch.batter) %></td>
  <td><%= pitch_type_name(pitch.pitch_type) %></td>
  <td><%= pitch.start_speed %></td>
  <td><%= pitch.result %></td>
  <td><%= pitch.nasty %></td>
</tr>