<% content_for(:subnav) do %>
  <h2>Facets</h2>
  <% @pitches.facets.each do |type, data| %>
    <h3><%= type %></h3>
    <ul class="unstyled">
      <% data['terms'].each do |term| %>
        <li><%= link_to term['term'], params.merge(type => term['term']) %> (<%= term['count'] %>)</li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h1>Pitches for Game</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Pitcher</th>
    <th>Batter</th>
    <th>Pitch Type</th>
    <th>Start Speed</th>
    <th>Result</th>
  </tr>
  <% @pitches.each do |pitch| %>
    <tr>
      <td><%= pitcher_name(pitch.pitcher) %></td>
      <td><%= pitch.batter %></td>
      <td><%= pitch.pitch_type %></td>
      <td><%= pitch.start_speed %></td>
      <td><%= pitch.result %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @pitches %>